@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "AnotherDay";
  src: url("assets/font/AnotherDayV2.ttf");
} */
@font-face {
  font-family: "Angelina";
  src: url("assets/font/angelina.regular.ttf");
}
